

#stage {
  height: 100px;
  background-color: cyan;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.subject {
  background-color: lightgrey;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0px 0px 25px;
  font-weight: bold;
  font-size: 20px;

}

.difficulty {
  background-color: lightgrey;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0px 0px 25px;
  font-weight: bold;
  font-size: 20px;

}

#start-button {
  background-color: lightgreen;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-size: 18px;
}

#category {
  height: 100px;
  background-color: magenta;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.ans-choices {
  background-color: lightgrey;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0px 0px 25px;
  font-weight: bold;
  font-size: 16px;

}

.graphic {
  background-color: lightgrey;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 25px 0px 25px;

}

#answer-button {
  background-color: red;
  font-style: bold;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-size: 18px;
}

#gameover {
  height: 100px;
  background-color: red;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;

}

.score-summary {
  background-color: lightgrey;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0px 0px 25px;
  font-weight: bold;
  font-size: 18px;

}

.player-status {
  background-color: lightgrey;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0px 0px 25px;
  font-weight: bold;
  font-size: 18px;

}

#restart-button {
  background-color: lightgreen;
  font-style: bold;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-size: 18px;
}

#start {
  margin-top: 30px;
}

#game {
  display: none;
  margin-top: 30px;
}

#tally {
  display: none;
  margin-top: 30px;
}